<!-- <div class="product__item"> -->
<div class="product__img">
  <img [src]="product.image" alt="" />
</div>
<div class="product__info">
  <h2 appHighlight>{{ product.title | uppercase }}</h2>
  <p>{{ product.description | slice: 0:10 }}</p>
  <p>{{ product.price | currency: "S/" }}</p>
  <p>{{ today | date: "mediumDate" }}</p>
  <!-- <button (click)="deleteProduct(i)">Eliminar</button> -->
  <button appCircular [backgroundColor]="'blue'" (click)="addCart()">
    Agregar
  </button>
</div>
<!-- </div> -->
