<h1>My app</h1>

<app-contador></app-contador>

<div class="product__grid">
  <div *ngIf="products.length === 0">
    <h3>No hay productos disponibles</h3>
  </div>
  <div class="product__item" *ngFor="let product of products; index as i">
    <div class="product__img">
      <img [src]="product.image" alt="" />
    </div>
    <div class="product__info">
      <h2>{{ product.title }}</h2>
      <p>{{ product.description }}</p>
      <p>{{ product.price }}</p>
      <button (click)="deleteProduct(i)">Eliminar</button>
    </div>
  </div>
</div>
